/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

section {
    display: inline-block;
}

.heart {
    height: 20px;
    width: 20px;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 0;
    text-align: center;
    font-size: 12px;
}

.heart:hover {
    color: red;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    margin: 30px 40px;
}

.box {
    color: white;
    font-size: 12px;
}

.box.green-box {
    position: absolute;
    bottom: 15px;
    left: 30px;
    background-color: green;
}

.box.green-box-left {
    position: absolute;
    bottom: 15px;
    background-color: green;
}

.box.red-box {
    position: absolute;
    bottom: 15px;
    background-color: red;
}

.marca {
    font-size: 12px;
    font-style: italic;
}

.description {
    font-weight: bolder;
}

.price {
    color:red;
    font-size: 12px;
}

.price-deleted {
    color: grey;
    text-decoration: line-through;
}
/* About products */

.card {
    width: 30%;
    display: inline-block;
}

.cards {
    height: 450px;
    width: 100%;
    margin: 10px 5px;
    display: inline-block;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.cards.man {
    background-image: url(../img/1.webp);
}

.cards.woman {
    background-image: url(../img/2.webp);
}

.cards.seated-woman {
    background-image: url(../img/3.webp);
}

.cards.black-man {
    background-image: url(../img/4.webp);
}

.cards.long-abit {
    background-image: url(../img/5.webp);
}

.cards.black-woman {
    background-image: url(../img/6.webp);
}

.man:hover {
    background-image:url(../img/1b.webp)
}

.woman:hover {
    background-image:url(../img/2b.webp)
}
.seated-woman:hover {
    background-image:url(../img/3b.webp)
}
.black-man:hover {
    background-image:url(../img/4b.webp)
}
.long-abit:hover {
    background-image:url(../img/5b.webp)
}
.black-woman:hover {
    background-image:url(../img/6b.webp)
}



